<!DOCTYPE html >
<!-- Here is the JSF file for collecting data from the user -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <title>#{msgs.titleIn}</title>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body>
        <h1>#{msgs.joinTitle}</h1>
        <p>#{msgs.joinText}</p>

        <h:form>
                <h:outputLabel value="#{msgs.emailAddress}" styleClass="pad_top"/>
                <!-- HTML5 type="email" is cute but useless as it only looks for the @ symbol -->
                <h:inputText id="email" value="#{userBean.emailAddress}" pt:type="email"  pt:required="true"/>
                <br/>
                <h:outputLabel value="#{msgs.firstName}"  styleClass="pad_top"/>
                <h:inputText id="firstName" value="#{userBean.firstName}" pt:required="true"/>
                <br/>
                <h:outputLabel value="#{msgs.lastName}"  styleClass="pad_top"/>
                <h:inputText id="lastName" value="#{userBean.lastName}"  pt:required="true"/>
                <br/>
                <!-- For reasons unknown to me the name &nbsp; does not work so the decimal equivalent is ised in its place -->
                <label>&#160;</label>
                <h:commandButton type="submit" value="#{msgs.joinNow}" styleClass="margin_left" action="#{userIOBean.addRecord}" />
        </h:form>

    </h:body>
</html>

